.nav {
    margin-top: 0;
    margin-bottom: 0;
    background: black;
    width: 100%;
    color: white;
    height: 70px;
    box-shadow: 0px 9px 50px 11px #000000;
}

ul {
    list-style-type: none;
    margin:0 50px 0 50px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline;
    font-size: 25px;
}

a:hover {
    cursor: pointer;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }