

.nav-back {
    background: black;
    height: 80px;
    box-shadow: 
        0 1px 3px rgba(0,0,0,0.14), 
        0 3px 5px rgba(0,0,0,0.14), 
        0 5px 7px rgba(0,0,0,0.14), 
        0 10px 13px rgba(0,0,0,0.14),
        0 18px 22px rgba(0,0,0,0.3);
}
.naving{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    margin: 0 30px;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}


.naving:hover {
    cursor: pointer;
}

.naving:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.naving:hover:after{
    width: 100%; 
    left: 0; 
}
